<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 class="ingredient-title">Сделайте свою пиццу!</h1>
    <div class="ingredient-grid">
        <form th:action="@{/custom}" method="POST" th:object="${pizzaForm}">

            <label th:for="*{name}">Придумайте название пиццы: </label>
            <input type="text" th:field="*{name}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">name Error</span>

            <!-- <div :each="ingredient : ${ingredients}" class="ingredient-card"> -->
            <!--    <input type="hidden" name="ingredientId" th:value="${ingredient.id}"> -->
            <!--    <h2 th:text="${ingredient.name}"></h2> -->
            <!--    <h2 th:text="${ingredient.price} + ' ₽'" class="ingredient-price"></h2> -->

            <!--</div> -->

            <div class="ingredient-group" id="doughs"> <!-- это группа ингредиентов -->
                <h3>Выберите тип теста:</h3> <!-- это заголовок -->
                <div th:each="ingredient : ${dough}"> <!-- это цикл для каждого ингредиента -->
                    <input th:field="*{ingredientIds}" th:value="${ingredient.id}"/> <!-- это чекбокс для каждого ингредиента -->
                    <!-- <span th:text="${ingredient.name}">INGREDIENT</span><br/> это название ингредиента -->
                    <h3 th:text="${ingredient.name}"></h3>
                    <h3 th:text="${ingredient.price} + ' ₽'" class="ingredient-price"></h3>
                </div>
            </div>

            <div class="ingredient-group" id="meats"> <!-- это группа ингредиентов -->
                <h3>Выберите мясные ингредиенты:</h3> <!-- это заголовок -->
                <div th:each="ingredient : ${meat}"> <!-- это цикл для каждого ингредиента -->
                    <input th:field="*{ingredientIds}" th:value="${ingredient.id}"/> <!-- это чекбокс для каждого ингредиента -->
                    <!-- <span th:text="${ingredient.name}">INGREDIENT</span><br/> это название ингредиента -->
                    <h3 th:text="${ingredient.name}"></h3>
                    <h3 th:text="${ingredient.price} + ' ₽'" class="ingredient-price"></h3>
                </div>
            </div>

            <div class="ingredient-group" id="veggies"> <!-- это группа ингредиентов -->
                <h3>Выберите овощи и сыры</h3> <!-- это заголовок -->
                <div th:each="ingredient : ${veggies}"> <!-- это цикл для каждого ингредиента -->
                    <input th:field="*{ingredientIds}" th:value="${ingredient.id}"/> <!-- это чекбокс для каждого ингредиента -->
                    <!-- <span th:text="${ingredient.name}">INGREDIENT</span><br/> это название ингредиента -->
                    <h3 th:text="${ingredient.name}"></h3>
                    <h3 th:text="${ingredient.price} + ' ₽'" class="ingredient-price"></h3>
                </div>
            </div>

            <div class="ingredient-group" id="sauces"> <!-- это группа ингредиентов -->
                <h3>Выберите соусы и добавки:</h3> <!-- это заголовок -->
                <div th:each="ingredient : ${sauce}"> <!-- это цикл для каждого ингредиента -->
                    <input th:field="*{ingredientIds}" type="checkbox"
                           th:value="${ingredient.id}"/> <!-- это чекбокс для каждого ингредиента -->
                    <!-- <span th:text="${ingredient.name}">INGREDIENT</span><br/> это название ингредиента -->
                    <h3 th:text="${ingredient.name}"></h3>
                    <h3 th:text="${ingredient.price} + ' ₽'" class="ingredient-price"></h3>
                </div>
            </div>

            <button type="submit" class="button-select">Добавить в заказ</button>
        </form>
    </div>
</body>
</html>