<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/templates/styles/home.css">
</head>
<body>
    <h1>ToTo-Pizza</h1>
    <div class="pizza-card">
        <img src="/images/pizza-pepperoni.jpg" alt="Пепперони"
             class="pizza-image"
             width="200"
             height="200">
        <div class="pizza-info">
            <span class="pizza-price">3899.89 ₽</span>
            <span class="pizza-name">Пепперони</span>
        </div>
    </div>
</body>
</html>