.pizza-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 50px;
            padding: 20px;
        }
.pizza-card {
            padding: 15px;
            text-align: center;
        }
.pizza-card img {
            width: 50%;
            height: 150px;
            object-fit: cover;
        }
.button-custom {
            appearance: none;
            border: 0;
            border-radius: 5px;
            background: #4676D7;
            color: #fff;
            padding: 8px 16px;
            font-size: 16px;
}