:root {
    --bs-orange-rgb: 222, 90, 0; /* цвет шапки */
}

.bg-orange {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-orange-rgb), var(--bs-bg-opacity)) !important;
}

.py-5 {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;
}

.card {
    --bs-card-border-width: 0px; /* обводка карточки на 0 */
}

.btn {
    --bs-btn-padding-x: 1.3rem; /* отступ по горизонтали */
    --bs-btn-padding-y: 0.6rem; /* отступ по вертикали */
    --bs-btn-font-size: 1.2rem; /* размер шрифта */
    --bs-btn-border-width: 0px !important; /* обводка кнопки */
    --bs-btn-border-radius: 50px !important; /* закругление кнопки */
    --bs-btn-color: #d15700; /* цвет текста кнопки в неактивном режиме */
    --bs-btn-bg: #fff0e6; /* цвет кнопки в неактивном режиме */
}

.btn-outline-dark {
    --bs-btn-hover-color: #d15700; /* цвет текста кнопки в активном режиме */
    --bs-btn-hover-bg: #ffd2b3; /* цвет кнопки в активном режиме */
    --bs-btn-active-color: #ffd2b3; /* цвет текста кнопки при нажатии */
    --bs-btn-active-bg: #fff0e6; /* цвет кнопки при нажатии */
}