        .pizza-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            padding: 20px;
        }
.pizza-card {
            border: 2px solid #e0e0e0;
            padding: 15px;
            text-align: center;
        }
.pizza-card img {
            width: 100%;
            height: 150px;
            object-fit: contain;
        }
.button-custom {
            appearance: none; /* убрать все стандартные стили */
            border: 0; /* убрать обводку кнопки */
            border-radius: 50px; /* закруглить углы кнопки (на 20px) */
            background: #ff6900; /* задать цвет фона */
            color: #fff; /* задать цвет текста */
            padding: 10px 28px; /* задать отступы (пространство между текстом и краем кнопки) */
            font-size: 16px; /* задать размер текста */
}
.button-order {
            appearance: none;
            border: 0;
            border-radius: 50px;
            background: #ff6900;
            color: #fff;
            padding: 10px 28px;
            font-size: 16px ;
}