.pizza-title {
            text-align: center;
            margin: 10px 0 5px 0; /* отступы */
        }
.pizza-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            padding: 20px 160px;
        }
.pizza-card {
            border: 2px solid #e0e0e0;
            padding: 15px;
            text-align: center;
        }
.pizza-card img {
            width: 100%;
            height: 150px;
            object-fit: contain;
        }
.ingredients-line {
            margin: 10px 0;
            min-height: 20px;
        }
.ingredients-line span {
            display: inline; /* или inline-block */
            color: #666;
            font-size: 14px;
        }
.button-select {
            background: #fff0e6;
            border: 0px;
            border-radius: 30px;
            color: #d15700;
            font-size: 16px;
            height: 5rem;
            width: 10rem;

            }