.pizza-title {
            text-align: center;
            margin: 10px 0 5px 0; /* отступы */
        }
.pizza-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            padding: 20px 160px;
        }
.pizza-card {
            border: 2px solid #e0e0e0;
            padding: 15px;
            text-align: center;
        }
.pizza-card img {
            width: 100%;
            height: 150px;
            object-fit: contain;
        }
.ingredients-line {
            margin: 10px 0;
            min-height: 20px;
        }
.ingredients-line span {
            display: inline; /* или inline-block */
            color: #666;
            font-size: 14px;
        }
.button-select {
            appearance: none;/* убрать все стандартные стили */
            border: 0; /* убрать обводку кнопки */
            border-radius: 50px; /* закруглить углы кнопки (на 20px) */
            background: #fff0e6; /* задать цвет фона */
            color: #d15700; /* задать цвет текста */
            font-size: 17px; /* задать размер текста */
            font-weight: bold;
            padding: 10px 28px; /* задать отступы (пространство между текстом и краем кнопки) */
            }
.button-select:hover { /* стили при наведении */
            background: #ffd2b3; /* новый цвет фона */
            }
.btn {
            appearance: none;/* убрать все стандартные стили */
            border: 0; /* убрать обводку кнопки */
            border-radius: 50px; /* закруглить углы кнопки (на 20px) */
            background: #ff6900; /* задать цвет фона */
            color: #ffffff; /* задать цвет текста */
            font-size: 17px; /* задать размер текста */
            font-weight: bold;
            padding: 10px 28px; /* задать отступы (пространство между текстом и краем кнопки) */
            }
.btn:hover { /* стили при наведении */
            background: #e86100; /* новый цвет фона */
            }
